3news.co.nz.js
A Contra Corriente.js
ABC-CLIO Serials Web.js
ACL.js
ACM Digital Library.js
ACS Publications.js
AGU Journals.js
AJHG.js
AMS Journals.js
AMS MathSciNet.js
APA PsycNET.js
APS.js
ARTFL Encyclopedie.js
ARTstor.js
ASCE.js
Ab Imperio.js
AcademicJournals.net.js
AdvoCAT.js
African Journals Online.js
AfroEuropa.js
Agencia del ISBN.js
Alexander Street Press.js
AlterNet.js
Aluka.js
Amazon.com.js
American Institute of Aeronautics and Astronautics.js
Ancestry.com US Federal Census.js
Archeion.js
Archive Ouverte en Sciences de l'Information et de la Communication (AOSIC).js
Archives Canada-France.js
Archives Canada.js
Archives Network of Alberta.js
Artefacts Canada.js
AustLII and NZLII.js
Australian Dictionary of Biography.js
BAILII.js
BBC.js
BC Archival Information Network.js
BIBSYS.js
BIUM.js
BOCC.js
Berkeley Electronic Press.js
Berkeley Library Catalog.js
BibTeX.js
Biblio.com.js
Bibliontology RDF.js
Bibliotheque UQAM.js
Bibliotheque et Archives Nationale du Quebec (Pistard).js
Bibliothèque et Archives nationales du Québec.js
Bibliothèque nationale de France.js
BioInfoBank.js
BioMed Central and More.js
BioOne.js
Blackwell Compass.js
Blackwell Synergy.js
Blaetter fuer deutsche und internationale Politik.js
Blogger.js
Bookmarks.js
Bracero History Archive.js
Bryn Mawr Classical Review.js
Business Standard.js
BusinessWeek.js
CABI - CAB Abstracts.js
CARLABRC OAI Harvester.js
CNKI.js
COinS.js
CSIRO Publishing.js
CTX.js
Cambridge Journals Online.js
Cambridge Scientific Abstracts.js
CanLII.js
Canada.com.js
Canadian Letters and Images.js
Canadiana.org.js
Cell Press.js
Champlain Society - Collection.js
Christian Science Monitor.js
CiNii.js
CiteSeer.js
CiteULike.js
Citebase.js
Civilization.ca.js
Code4Lib Journal.js
Columbia University Press.js
Common-Place.js
Copernicus.js
Copernicus2.js
Cornell LII.js
Cornell University Press.js
CrossRef.js
Cyberpresse.js
DBLP Computer Science Bibliography.js
DOI.js
DSpace.js
Davidson College Library.js
Defense Technical Information Center.js
Der Freitag.js
Der Tagesspiegel.js
Dialnet.js
Die Zeit.js
Digital Humanities Quarterly.js
Digital Medievalist.js
Douban.js
EBSCOhost.js
ERIC.js
ESA Journals.js
ESpacenet.js
Early English Books Online.js
Education Week.js
Edutopia.js
Eighteenth Century Collections Online.js
Electronic Colloquium on Computational Complexity.js
Embedded RDF.js
Emerald Publishing.js
Encyclopedia of Chicago.js
Engineering Village.js
Epicurious.js
EurasiaNet.js
European Educational Research Journal.js
FAZ.NET.js
Factiva.js
Flickr.js
Florida University Libraries (Endeca 1).js
Foreign Policy.js
FreePatentsOnline.js
Frontiers.js
GPO Access e-CFR.js
GSA Journals Online.js
Gale - Cengage Learning.js
Gale Literature Resource Center.js
GaleGDC.js
Gallica.js
Gene Ontology.js
Getty Research Library Catalog.js
Glenbow Library.js
Gmail.js
Google Blogs.js
Google Books.js
Google Patents.js
Google Scholar.js
Gulag Many Days.js
Hanrei Watch RSS service.js
Helsinki University of Technology.js
HighWire.js
Highwire 2.0.js
History Cooperative.js
Hurricane Digital Memory Bank.js
IEEE Computer Society.js
IEEE Xplore.js
IGN.js
IMDb.js
IRIS.js
ISI Web of Knowledge.js
InderScience.js
InfoTrac OneFile.js
InfoTrac.js
Informaworld.js
IngentaConnect.js
Innovate Online.js
Institute of Physics.js
Institute of Pure and Applied Physics.js
Inter-Research Science Center.js
International Herald Tribune.js
Internet Archive Wayback Machine.js
Internet Archive.js
Investigative Ophthalmology and Visual Science.js
J-Stage.js
JBJS Am.js
JSTOR.js
Japan Times Online.js
Journal of Electronic Publishing.js
Journal of Machine Learning Research.js
Journal of Vision.js
JurPC.js
KOBV.js
Kommersant.js
LA Times.js
Le Devoir.js
Le monde diplomatique.js
LexisNexis.js
Library Catalog (Aleph).js
Library Catalog (Amicus).js
Library Catalog (BiblioCommons).js
Library Catalog (DRA).js
Library Catalog (Dynix).js
Library Catalog (GEAC).js
Library Catalog (InnoPAC).js
Library Catalog (Mango).js
Library Catalog (SIRSI).js
Library Catalog (TLCYouSeeMore).js
Library Catalog (VTLS).js
Library Catalog (Voyager 7).js
Library Catalog (Voyager).js
Library Catalog (X-OPAC).js
LiveJournal.js
MAB2.js
MARC.js
MIT Press Journals.js
MODS.js
Mainichi Daily News.js
Matbugat.ru.js
Max Planck Institute for the History of Science Virtual Laboratory Library.js
Melvyl.js
MetaPress.js
Musee du Louvre.js
NASA ADS.js
NCBI PubMed.js
NYTimes.com.js
Nagoya University OPAC.js
National Archives of Australia.js
National Archives of South Africa.js
National Archives of the United States.js
National Bureau of Economic Research.js
National Gallery of Art - U.S.A..js
National Library of Australia (new catalog).js
National Library of Australia - Australian Newspapers.js
National Library of Australia.js
National Library of New Zealand.js
National Post.js
Nature.js
Neural Information Processing Systems.js
New Zealand Herald.js
OAIster.js
OCLC WorldCat FirstSearch.js
OSTI Energy Citations.js
Old Bailey Online.js
Open WorldCat.js
OpenJudis - Indian Supreme Court cases.js
Optical Society of America.js
Optics Express.js
Osterreichischer Bibliothekenverbund.js
Ovid.js
Oxford Music and Art Online.js
PEI Archival Information Network.js
PEP Web.js
PLoS Biology and Medicine.js
PLoS Journals.js
Papers Past.js
Paris Review.js
Patents - USPTO.js
Philosopher's Imprint.js
Pion Journals.js
Pleade.js
Potsdamer Neueste Nachrichten.js
Primo.js
ProMED.js
ProQuest 2.js
ProQuest Legacy.js
Probing the Past.js
Progress of Theoretical Physics.js
Project Euclid.js
Project Gutenberg.js
Project MUSE.js
Protein Data Bank.js
PubMed Central.js
Pubget.js
RDF.js
RIS.js
RSC Publishing.js
Radio Free Europe  Radio Liberty.js
RePEc.js
Readability.js
ReferBibIX.js
ReliefWeb.js
Reuters.js
Revues.org.js
Rice University Library Catalog.js
Royal Historical Society.js
SAE International.js
SFU IPinCH.js
SPIE Digital Library.js
SPIRES.js
SSRN.js
Sage Journals Online.js
SciELO.js
Science Links Japan.js
ScienceDirect.js
ScientificCommons.js
Scitation.js
Scopus.js
Slate.js
SlideShare.js
Spiegel Online.js
SpringerLink.js
Stuff.co.nz.js
Sudoc.js
Sueddeutsche.de.js
Sydney Morning Herald.js
TV by the Numbers.js
TVNZ.js
TalisPrism.js
Tatknigafund.js
Taylor&Francis.js
The Age.js
The Atlantic.js
The Australian.js
The Boston Globe.js
The Chronicle of Higher Education.js
The Daily Beast.js
The Economist.js
The Free Dictionary.js
The Globe and Mail.js
The Hamilton Spectator.js
The Hindu.js
The Microfinance Gateway.js
The Nation.js
The New York Review of Books.js
The New Yorker.js
The Open Library.js
The Telegraph.js
The Times and Sunday Times.js
Time-Blog.com.js
Time.com.js
Toronto Star.js
Twitter.js
UBC Library Catalog.js
US National Archives Research Catalog.js
Unidade de Biologia da Conservaçao.js
Universiteit van Amsterdam.js
University of Chicago.js
University of Michigan.js
Unqualified Dublin Core RDF.js
Vanderbilt eJournals.js
Verniana-Jules Verne Studies.js
VoxEU.js
Wall Street Journal.js
Wanfang Data.js
Washington Monthly.js
Welt Online.js
Wikileaks Cables.js
Wikipedia Citation Templates.js
Wildlife Biology in Practice.js
Wiley Online Library.js
WilsonWeb.js
Winnipeg Free Press.js
World History Connected.js
YouTube.js
Zotero RDF.js
allAfrica.com.js
arXiv.org.js
cablegatesearch.net.js
dLibra.js
eLibrary.ru.js
eMJA.js
eMedicine.js
ePrint IACR.js
fishpond.co.nz.js
fr-online.de.js
informIT database.js
list
nzz.ch.js
tagesanzeiger.chNewsnetz.js
taz.de.js
unAPI.js
washingtonpost.com.js
zotero.org.js
